@page "/measurements"
@using EFK.SampleApp.Common
@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 5)]

@inject MeasurementApiClient MeasurementApi

<PageTitle>Measurements</PageTitle>

<h1>Measurements</h1>

<p>This component demonstrates showing data loaded from a backend API service.</p>

@if (measurements == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Timestamp</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var measurement in measurements)
            {
                <tr>
                    <td>@measurement.Id</td>
                    <td>@measurement.Timestamp</td>
                    <td>@measurement.Value</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Measurement[]? measurements;

    protected override async Task OnInitializedAsync()
    {
        measurements = await MeasurementApi.GetWeatherAsync();
    }
}
